<div class = "container">
  <div class = "row centered">
    <div class= "col-sm-4 col-sm-offset-4 centered">
      <h1>Bookmarklet for your Browser</h1>
      <hr>
      <div style="text-align:center">
        <a class="btn btn-primary" href="javascript:(function(){location.href='<%= root_url %>dashboard'+'?'+'tracker_url='+document.URL;})();">Thriftster Bookmarklet</a>
      </div>
      <hr>
      <h3>1</h3>
      <p style="text-align:left">
        Just drag and drop the button above into your bookmarks or favorites bar. 
        <a id="attach_box">(Don't see a bookmarks bar?)</a>
      </p>
      <div id="sec_box" style="display: none;">
        <img class="center" width="300" src="https://dl.dropbox.com/s/iw5ubjxc816t8zp/bookmark_directions.png" alt="">
      </div>
      <hr>
      <h3>2</h3>
      <p style="text-align:left">
      When you come across a product you want on your favorite retail site, just click the bookmarklet to start tracking it.</p>
      <hr>
      <h3>3</h3>
      <p style="text-align:left">
        We'll send you an email when the products you want go on sale!
      </p>
      <hr>
      <div style="text-align:center">
        <a class="btn btn-primary" href="/">Back</a>
      </div>
      <hr>
    </div>
  </div>
</div>


