<!-- Featured Icons -->  
<div id="white">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-4 col-lg-offset-4 centered">
        <h3>How it works...</h3>
        <hr>
      </div>
    </div>
    <div class="row mt">
      <div class="col-lg-4">
        <p class="capitalize">1</p>
        <h4>Click and drag</h4>
        <p>Just click and drag the button below into your bookmarks or favorites bar.</p>
        <a href = "javascript:(function(){location.href='<%= root_url %>dashboard'+'?'+'tracker_url='+document.URL;})();">Thriftster</a>
      </div>
      <div class="col-lg-4">
        <p class="capitalize">2</p>
        <h4>Shop</h4>
        <p>When you come across a product you want on your favorite retail site, just click the bookmarklet to start tracking it.</p>
      </div>
      <div class="col-lg-4">
        <p class="capitalize">3</p>
        <h4>That's it!</h4>
        <p>We'll send you an email when the products you want go on sale.</p>
      </div>      
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /white -->