<!-- Featured Icons -->  
<div id="white">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-4 col-lg-offset-4 centered">
        <h3>How it works...</h3>
        <hr>
      </div>
    </div>
    <div class="row mt">
      <div class="col-lg-4">
        <p class="capitalize">1</p>
        <h4>Copy and Paste Link</h4>
        <p>Shop your favorite retail sites. When you come across an item you want, copy and paste the URL into the Thriftster dashboard (or use the Thriftster Bookmarklet) and hit 'start tracking'.</p>
        <img src="https://dl.dropbox.com/s/08cygl0ntfyv784/directions1_output.gif" style="width:300px;">
      </div>
      <div class="col-lg-4">
        <p class="capitalize">2</p>
        <h4>Select Price</h4>
        <p>After hitting 'start tracking,' we'll do our best to locate the price. But we'll prompt you to click on the price if we need a little help. </p>
        <img src="https://dl.dropbox.com/s/a156m1q2qot2mjg/directions2_output.gif" style="width:300px;">
      </div>
      <div class="col-lg-4">
        <p class="capitalize">3</p>
        <h4>Final Touches</h4>
        <p>Lastly, feel free to edit the name of the object and select when you want us to notify of you sales.</p>
        <img src="https://dl.dropbox.com/s/av42y223ecn1e1q/directions3_output.gif" style="width:300px;">
      </div>      
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /white -->
