<!-- Featured Icons -->  
<div id="white">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-4 col-lg-offset-4 centered">
        <h2>Three simple steps.</h2>
        <hr>
      </div>
    </div>
    <div class="row mt">
      <div class="col-lg-4">
        <p class="capitalize">1</p>
        <h4>Copy and Paste Your URL</h4>
        <p class="text-field">Shop your favorite retail sites. When you come across an item you want, copy and paste the URL of its product page into the Thriftster dashboard and hit 'start tracking'.  You can also use the Thriftster Bookmarklet for quick access.</p>
        <img class="gif-imgs" src="https://dl.dropbox.com/s/6jhpgfpgqap4wuj/directions1.gif">
      </div>
      <div class="col-lg-4">
        <p class="capitalize">2</p>
        <h4>Select Price</h4>
        <p class="text-field">We have an extensive listing of prices and we'll do our best to locate the price after you submit the URL.  Sometimes our server needs your help in locating the price on the page.  We'll prompt you if we need you to help us find the price!</p>
        <img class="gif-imgs" src="https://dl.dropbox.com/s/pazytppnkqyfq8b/directions2.gif">
      </div>
      <div class="col-lg-4">
        <p class="capitalize">3</p>
        <h4>Final Touches</h4>
        <p class="text-field">Feel free to edit the name of the object and customize when you want to be notified of a sale.  When we detect a price drop, we will email you.</p>
        <img class="gif-imgs" src="https://dl.dropbox.com/s/whzukwup0h8cslt/directions3.gif">
      </div>      
    </div><!-- /row -->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <h5>Some urls work better than others.  Try adding a product from BestBuy or Amazon for example!</h5>
      </div>
      <div class="col-lg-6 col-lg-offset-3 centered">
        <hr>
        <h2>Please be sure to also leave us suggestions using our feedback form on the bottom right!</h2>
        <hr>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /white -->
