<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!-- HeaderWrap -->
<div id="headerwrap">
  <div class="darkOverlay"></div>
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2 mt">
        <h1 class="animation slideDown">Never miss a sale again. We'll notify you when the products you want go on sale.</h1>
        <p class="mt"><%= link_to "GET STARTED", signup_path, class: "btn btn-cta btn-lg" %></p>
      </div>

    </div><!-- /row -->
  </div><!-- /container -->
</div> <!-- /headerwrap -->

<!-- Blog Posts -->   
<div class="container"> 

  <div class="row mt centered ">
    <div class="col-lg-4 col-lg-offset-4">
      <h3>How it works...</h3>
      <hr>
    </div>
  </div><!-- /row -->

  <div class="row mt centered">
    <div class="col-lg-4 col-md-4 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="#"><img width="100%" src="https://dl.dropbox.com/s/rlfoclaumbz7lzo/bookmark.png" alt="" />
        <div class="b-wrapper">
          <h4 class="b-from-left b-animate b-delay03">Get</h4>
          <p class="b-from-right b-animate b-delay03">the bookmarklet.</p>
        </div>
      </a>
      <p>Get the bookmarklet</p>
      <p class="lead">Drag and drop our bookmarklet into your browser toolbar.</p>
      <hr-d>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4 col-md-4 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="#"><img width="100%" src="https://dl.dropbox.com/s/ipypuasw6ihmect/shop.png" alt="" />
        <div class="b-wrapper">
          <h4 class="b-from-left b-animate b-delay03">Shop</h4>
          <p class="b-from-right b-animate b-delay03">your favorite sites.</p>
        </div>
      </a>
      <p>Shop your favorite sites</p>
      <p class="lead">Just hit the bookmarklet button when you come across a product you want.</p>
      <hr-d>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4 col-md-4 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="#">
        <%= image_tag "howitworks-03.png", width: "100%", height: "100%" %>
        <div class="b-wrapper">
          <h4 class="b-from-left b-animate b-delay03">Save</h4>
          <p class="b-from-right b-animate b-delay03">when the price drops.</p>
        </div>
      </a>
      <p>That's it!</p>
      <p class="lead">We'll send you an email when the products you want go on sale.</p>
      <hr-d>
    </div><!-- col-lg-4 -->

  </div><!-- /row -->
</div>

<!-- Call to Action Bar --> 
<div id="cta-bar">
</div><!-- /cta-bar -->

<!-- Brands + Clients -->  
<div id="grey">
  <div class="container">
    <div class="row mt centered ">
      <div class="col-lg-4 col-lg-offset-4">
        <h3>Featured Retailers</h3>
        <hr>
      </div><!-- /col-lg-4 -->
    </div><!-- /row -->

    <div class="row centered">
      <!-- Begin first row -->
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://img1.wikia.nocookie.net/__cb20100929014950/logopedia/images/c/cd/500px-Amazon_com_logo_svg.png" alt="">
      </div>
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://michaelbox.net/wp-content/images/Target_old_logo.png" alt="">
      </div>
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://img2.wikia.nocookie.net/__cb20130113164539/walmart/images/9/92/Walmart_logo.png" alt="">
      </div>
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/4/48/EBay_logo.png" alt="">
      </div>
      <!-- End first row -->

      <!-- Begin second row -->
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://img3.wikia.nocookie.net/__cb20100920050450/logopedia/images/4/4d/Macy%27s.png" alt="">
      </div>
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://givebackbox.com/secure/wp-content/uploads/2013/12/574px-newegg_logosvg_.png" alt="">
      </div>
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/e/e5/HM-Logo.png" alt="">
      </div>      
      <div class="col-lg-3 pt">
        <h3>...and hundreds more</h3>
      </div>
      <!-- End second row -->

    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /grey -->

<!-- Featured Icons -->  
<div id="white">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-4 col-lg-offset-4 centered">
        <h3>How it works...</h3>
        <hr>
      </div>
    </div>
    <div class="row mt">
      <div class="col-lg-4">
        <p class="capitalize">1</p>
        <h4>Get the bookmarklet</h4>
        <p>Drag and drop the bookmarklet into your browser toolbar.</p>
      </div>
      <div class="col-lg-4">
        <p class="capitalize">2</p>
        <h4>Shop your favorite sites</h4>
        <p>Just hit the bookmarklet button when you come across a product you want.</p>
      </div>
      <div class="col-lg-4">
        <p class="capitalize">3</p>
        <h4>That's it!</h4>
        <p>We'll send you an email when the products you want go on sale.</p>
      </div>      
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /white -->





<script>
$(window).scroll(function() {
  $('.si').each(function(){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
    if (imagePos < topOfWindow+400) {
      $(this).addClass("slideUp");
    }
  });
});
</script>    


