<div class="center hero-unit">
	<div class = "container">
		<h1>Got your eye on something?</h1>

		<p class="text-muted">
			Let us TrackIt for you.
		</p>

		<%= link_to "Get Started", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
</div>