<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->


<!-- HeaderWrap -->
<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2 mt">
        <h1 class="animation slideDown">Never miss a sale again. We'll notify you know when the products you want go on sale.</h1>
        <p class="mt"><button type="button" class="btn btn-cta btn-lg"><%= link_to "GET STARTED", signup_path %></button></p>
      </div>

    </div><!-- /row -->
  </div><!-- /container -->
</div> <!-- /headerwrap -->

<!-- Blog Posts -->   
<div class="container"> 

  <div class="row mt centered ">
    <div class="col-lg-4 col-lg-offset-4">
      <h3>How it works...</h3>
      <hr>
    </div>
  </div><!-- /row -->

  <div class="row mt centered">
    <div class="col-lg-4 col-md-4 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="#"><img width="350" src="assets/img/portfolio/port04.jpg" alt="" />
        <div class="b-wrapper">
          <h4 class="b-from-left b-animate b-delay03">Post 1</h4>
          <p class="b-from-right b-animate b-delay03">Get the bookmarklet.</p>
        </div>
      </a>
      <p>Get the bookmarklet</p>
      <p class="lead">Drag and drop our bookmarklet into your browser toolbar.</p>
      <hr-d>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4 col-md-4 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="#"><img width="350" src="assets/img/portfolio/port05.jpg" alt="" />
        <div class="b-wrapper">
          <h4 class="b-from-left b-animate b-delay03">Post 2</h4>
          <p class="b-from-right b-animate b-delay03">Read More.</p>
        </div>
      </a>
      <p>Shop your favorite sites</p>
      <p class="lead">Just hit the bookmarklet button when you come across a product you want.</p>
      <hr-d>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4 col-md-4 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="#"><img width="350" src="assets/img/portfolio/port06.jpg" alt="" />
        <div class="b-wrapper">
          <h4 class="b-from-left b-animate b-delay03">Post 3</h4>
          <p class="b-from-right b-animate b-delay03">Read More.</p>
        </div>
      </a>
      <p>That's it!</p>
      <p class="lead">We'll send you an email when the products you want go on sale.</p>
      <hr-d>
    </div><!-- col-lg-4 -->

  </div><!-- /row -->
</div>

<!-- Call to Action Bar --> 
<div id="cta-bar">
  <div class="container">
    <div class="row centered">
      <a><h4><%= link_to "GET STARTED", signup_path %></h4></a>
    </div>
  </div><!-- /container -->
</div><!-- /cta-bar -->

<!-- Brands + Clients -->  
<div id="grey">
  <div class="container">
    <div class="row mt centered ">
      <div class="col-lg-4 col-lg-offset-4">
        <h3>Featured Retailers</h3>
        <hr>
      </div><!-- /col-lg-4 -->
    </div><!-- /row -->

    <div class="row centered">
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://img1.wikia.nocookie.net/__cb20100929014950/logopedia/images/c/cd/500px-Amazon_com_logo_svg.png" alt="">
      </div>
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://michaelbox.net/wp-content/images/Target_old_logo.png" alt="">
      </div>
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://about.zappos.com/sites/about.zappos.com/files/press/Zappos_logo-1.jpg" alt="">
      </div>
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://cloudconversion.com/wp/wp-content/uploads/2012/09/NeweggLogo_fullColor.png" alt="">
      </div>
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://img2.wikia.nocookie.net/__cb20130113164539/walmart/images/9/92/Walmart_logo.png" alt="">
      </div>
      <div class="col-lg-3 pt">
        <img class="img-responsive" src="http://about.zappos.com/sites/about.zappos.com/files/press/Zappos_logo-1.jpg" alt="">
      </div>

    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /grey -->


<!-- Featured Icons -->  
<div id="white">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-4 col-lg-offset-4 centered">
        <h3>How it works...</h3>
        <hr>
      </div>
    </div>
    <div class="row mt">
      <div class="col-lg-4">
        <p class="capitalize">1</p>
        <h4>Get the bookmarklet</h4>
        <p>Drag and drop the bookmarklet into your browser toolbar.</p>
      </div>
      <div class="col-lg-4">
        <p class="capitalize">2</p>
        <h4>Shop your favorite sites</h4>
        <p>Just hit the bookmarklet button when you come across a product you want.</p>
      </div>
      <div class="col-lg-4">
        <p class="capitalize">3</p>
        <h4>That's it!</h4>
        <p>We'll send you an email when the products you want go on sale.</p>
      </div>      
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /white -->

<!-- Featured Icons -->
<div class="container">
  <div class="row mt">
    <div class="col-lg-4 centered si">
      <i class="fa fa-flask"></i>
      <h4>Built with Bootstrap 3</h4>
      <p>Built for all levels of expertise, whether you need simple pages or complex ones, creating something incredible with Marco is an effortless and intuitive process.</p>
    </div>
    <div class="col-lg-4 centered si">
      <i class="fa fa-eye"></i>
      <h4>Retina Display Theme</h4>
      <p>We’ve taken great care to ensure that Marco is fully retina-ready. So it’ll look good on any retina display. We use retina.js to ensure the best view.</p>
    </div>
    <div class="col-lg-4 centered si">
      <i class="fa fa-mobile"></i>
      <h4>Responsive Design Always</h4>
      <p>Marco fits any device handsomely. We tested our theme in major devices and browsers. Check it out and test it before buy it on responsinator.com.</p>
    </div>      

    <div class="col-lg-4 centered si">
      <i class="fa fa-cog"></i>
      <h4>Really Nice Animations</h4>
      <p>Good looking animations are an essential part of the new theme design trend. We add animations.css, a cool script to help you enhance your site with style.</p>
    </div>
    <div class="col-lg-4 centered si">
      <i class="fa fa-flag"></i>
      <h4>Font Awesome Included</h4>
      <p>Font Awesome is the most used icon font on Bootstrap. Gives you scalable vector icons that can instantly be customized with the power of CSS.</p>
    </div>
    <div class="col-lg-4 centered si">
      <i class="fa fa-heart"></i>
      <h4>Carefully Crafted</h4>
      <p>We aim to design both, functional & beautiful themes. Details are an important part of our main concept. We work hard to keep our code and front-end flawless.</p>
    </div>      
  </div><!-- /row -->
</div><!-- /container -->




<script>
$(window).scroll(function() {
  $('.si').each(function(){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
    if (imagePos < topOfWindow+400) {
      $(this).addClass("slideUp");
    }
  });
});
</script>    


