<div class="center jumbotron">
	<div class = "container">
		<h1>Got your eye on something?</h1>

		<p class="text-muted">
			Let us TrackIt for you.
		</p>
    <% if signed_in? %>
      <%= link_to "Go to Dashboard", dashboard_path, class: "btn btn-lg btn-primary" %>
    <% else %>
		  <%= link_to "Get Started", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
	</div>
</div>