<div class="center hero-unit">
	<div class = "container">
		<h1>Hello World!</h1>

		<p class="text-muted">
			We'll let you know when your favorite things go on sale.
		</p>

		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
</div>