<div class="row">
  <h1>Thank You</h1>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <p class="letter-heading">
      <% if signed_in? %>
      Dear <%= current_user.first_name %>,
      <% else %>
      Dear Friends,
      <% end %>
    </p>
    <p class="letter-paragraph">
      Haley and I released Thriftster as part of our Private Beta to around 75 people.  In a day, we have grow to <b>hundreds of products</b> being actively tracked and <b>nearly 15%</b> of them have dropped in price since.  In 24 hours, Thriftster has tracked savings of nearly <b>a thousand dollars</b>.
    </p>
    <p class="letter-paragraph">
      All thanks to you, the user.  From the beginning, the user, not us, has been driving the development of Thriftster.  Features that you request are the ones that are put up.  The feedback in the past week have been overwhelming.  With your help, we have uncovered numerous bugs and potential features that we would have never thought of.
    </p>
    <p class="letter-paragraph">
      With the current amount of schoolwork that we both have, Haley and I will unfortunately not be able to monitor the beta development until futher notice.  However, please continue to use our site.  Feedback and bug reports are always welcomed.  
    </p>
    <p class="letter-paragraph">
      We will have some awesome features and next steps in store for the future.  Thank you for all of your support and get excited for updates! 
    </p>
    <p class="letter-closing">
      Sincerely,
      <br>
      Irvin and Haley
    </p>
  </div>
</div>
