@import "variables";
.trackers {
  li {
    display: inline-block;

    margin-top: 40px;
    margin-bottom: 20px;
    list-style-type: none;
    .thumbnail-wrapper {
      height: 100px;
      width: 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .media {
      padding: 10px;
      background: $gray-blue;
      margin-bottom: 10px;
      border-radius: 4px;
      height: 200px; 
      .media-body {
        padding: 10px;
      }
      .media-heading {
        line-height: 20px;
        height: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
      }
      .media-heading:hover {
        overflow:visible;
        white-space:normal;
        background: #f8f8f8;
        position:relative;
        z-index: 1;
        transition:height 0.15s;
        height: auto;
        width: 90%;
        clear: left;
      }
      .media-price {
        .price-rise {
          color: red;
        }
        .price-drop {
          color: green;
        }
      }
      .media-buttons {
        padding: 10px;
      }
    }
  }
  ul {
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    display: table;
  }
}
ul > li { display: table-cell; vertical-align: bottom; }
