@import "variables";
.trackers {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    list-style-type: none;
    .thumbnail-image {
      padding: 10px;
      height: 200px;
    }
    .thumbnail {

    }
    .thumbnail-wrapper {
      height: 100px;
      width: 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .media-heading {
      line-height: 20px;
      height: 40px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      }
    .media-heading:hover {
      overflow:visible;
      white-space:normal;
      background: #f8f8f8;
      position:relative;
      z-index: 1;
      transition:height 0.15s;
      height: auto;
      width: 100%;
      clear: left;
      }
    .media-price {
      .price-rise {
          color: red;
        }
        .price-drop {
          color: green;
        }
      }
      .media-buttons {
        padding: 10px;
      }
    .media {
      padding: 10px;
      background: $gray-blue;
      margin-bottom: 10px;
      border-radius: 4px;
      height: 200px; 
      .media-body {
        padding: 10px;
      }
      .media-heading {
        line-height: 20px;
        height: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
      }
      .media-heading:hover {
        overflow:visible;
        white-space:normal;
        background: #f8f8f8;
        position:relative;
        z-index: 1;
        transition:height 0.15s;
        height: auto;
        width: 100%;
        clear: left;
      }
      .media-price {
        .price-rise {
          color: red;
        }
        .price-drop {
          color: green;
        }
      }
      .media-buttons {
        padding: 10px;
      }
    }
}

.hero-spacer {
margin-top: 50px;
}

.hero-feature {
margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

.edit-tracker-form {
  margin-bottom: 20px;
  .thumbnail-wrapper {
    text-align: center;
    margin-bottom: 20px;
    img {
      height: 150px;
    }
  }
  .current-price {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
}

