@import "variables";

/* useful tools for text */
.muted {
  color: #999;
}

/* begin outline buttons */
.btn-outline, .btn-outline-default, .btn-outline-primary .btn-outline-red {
}

.btn-outline, .btn-outline-default {
  background-color: transparent;
  border: 1px solid;
  color: $white;
  border-color: $white;
  &:hover, &:focus {
    color: darken($white, 5%);
    border-color: darken($white, 5%);
  }
}
.btn-outline-red {
  background-color: transparent;
  border: 1px solid;
  color: $primary-red;
  border-color: $primary-red;
  &:hover, &:focus {
    color: darken($primary-red, 5%);
    border-color: darken($primary-red, 5%);
  }
}

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid;
  color: $dark-blue;
  border-color: $dark-blue;
  &:hover, &:focus {
    color: darken($dark-blue, 5%);
    border-color: darken($dark-blue, 5%);
  }
}
.btn-outline-inverted:hover, .btn-outline-inverted:focus {
  &.btn-outline-default {
    color: $primary-blue;
    background-color: $white;
    border-color: $white;
  }
  &.btn-outline-primary {
    color: $white;
    background-color: $dark-blue;
    border-color: $dark-blue;
  }
  &.btn-outline-red {
    border: 1px solid;
    color: $white;
    background-color: $primary-red;
    border-color: $primary-red;
  }
}

/* end outline buttons */
