@import "variables";

.color-bar {
  width: 100%;
  height: 5px;
  background: $light-blue;
}
#footer {
  background-color: $gray-blue;
  height: 60px;
  .credits {
    margin: 15px 0 0 0;
  }
}

.private-beta {
  margin-left: 2px;
  font-size: 10px;
  color: #999;
}
