/* Color Scheme (dont forget to change bootstrap overrides) */
$dark-blue: #6E859C;
$medium-blue: #00607B;
$light-blue: #74c9be;
$gray-blue: #F2F2F2;
$white: #fff;
$red: #D65C56;

$primary-blue: $medium-blue;
$primary-red: $red; 
