/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree ./sitewide
 */

@import "variables";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

$footer_height: 60px;

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

/* to push down footer */
#main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto $footer_height*-1;
  /* Pad bottom by footer height */
  padding: 0 0 $footer_height;
}
