.trackers {
  li {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    .media {
      .media-body {
        padding: 10px;
      }
      .media-heading {
        font-size: 18px;
      }
      .media-price {
        .price-rise {
          color: red;
        }
        .price-drop {
          color: green;
        }
      }
    }
  }
}