@import "variables";

.trackers {
  li {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    .thumbnail-wrapper {
      height: 100px;
      width: 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .media {
      padding: 25px;
      background: $gray-blue;
      margin-bottom: 40px;
      border-radius: 8px; 
      .media-body {
        padding: 10px;
      }
      .media-heading {
        font-size: 18px;
        font-weight: bold;
      }
      .media-price {
        .price-rise {
          color: red;
        }
        .price-drop {
          color: green;
        }
      }
    }
  }
}