// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.letter-heading {
  font-weight: bold;
  font-size: 1.7em;
}
.letter-paragraph {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.2em;
  line-height: 1.8em;
}
.letter-closing {
  font-weight: bold;
  font-size: 1.7em;
  line-height: 2.0em;
  margin-bottom: 40px;
}