<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{feedbackFormSubmitted();}"></iframe>
<form action="https://docs.google.com/a/princeton.edu/forms/d/1wk6hP5wbe9TbIV7lLKjiddU8NoRwGhfMxykg44bQdvk/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
  <ol role="list" class="ss-question-list" style="padding-left: 0">
    <div class="ss-form-question errorbox-good" role="listitem" style="display:none;">
      <div dir="ltr" class="ss-item  ss-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_615349471">
            <div class="ss-q-title">Name
            </div>
            <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
          </label>
          <input type="text" name="entry.615349471" value='<%= "#{full_name(current_user)} (#{current_user.email})" %>' class="ss-q-short" id="entry_615349471" dir="auto" aria-label="Name  " title="">
        </div>
      </div>
    </div> 
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-paragraph-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_1958558838">
            <div class="ss-q-title">What features/pages of this site are difficult to use?
            </div>
            <div class="ss-q-help ss-secondary-text" dir="ltr">
            </div>
          </label>
          <textarea name="entry.1958558838" rows="8" cols="0" class="ss-q-long" id="entry_1958558838" dir="auto" aria-label="What were the favorite parts of your site?  "></textarea>
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-paragraph-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_1275235833">
            <div class="ss-q-title">What features would you like to see added?
            </div>
            <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
          </label>
          <textarea name="entry.1275235833" rows="8" cols="0" class="ss-q-long" id="entry_1275235833" dir="auto" aria-label="How can we improve Thriftster?  "></textarea>
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-paragraph-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_837466983">
            <div class="ss-q-title">Additional suggestions/comments/questions?
            </div>
            <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
          </label>
          <textarea name="entry.837466983" rows="8" cols="0" class="ss-q-long" id="entry_837466983" dir="auto" aria-label="Additional Questions/Comments?  "></textarea>
        </div>
      </div>
    </div>
    <input type="hidden" name="draftResponse" value="[,,&quot;4454179487231552457&quot;]
    ">
    <input type="hidden" name="pageHistory" value="0">
    <input type="hidden" name="fbzx" value="4454179487231552457">
    <input type="submit" name="submit" value="Submit" class="btn btn-default" id="ss-submit">
    <button class="btn btn-default" disabled=true id="ss-submit-disabled">Submitting, please wait...</button>
  </ol>
</form>