<div id="footer">
  <div class="container">
    <p class="muted credits">
      Copyright 2014.
    </p>
  </div>
</div>

<% if signed_in? %>
<div id="feedback-form">
  <a id="feedback-button">Tell us what you think.</a>
  <div class="form">
    <%= render "layouts/feedback_form" %>
  </div>
</div>
<% end %>